# create local copy of this file and rename to .env.local
# make sure to add .env.local to .gitignore!!
MONGO_URI={mongodb+srv://team4hack4impact_db_user:<db_password>@cluster0.jecua2t.mongodb.net/?appName=Cluster0}