.aboutContent {
  display: flex;
  gap: 50px;
  padding-inline: 10%;
}

.contactInfo {
  display: flex;
  gap: 25px;
  padding: 20px;
}

.aboutBarbers {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
