.hrSpacing {
  margin: auto;
  margin-top: 50px;
  width: 50%;
}

.centerText {
  text-align: center;
}

.aboutContent {
  display: flex;
  gap: 50px;
  padding: 80px 10%;
  align-items: center;
}

.aboutText {
  flex: 1;
}

.aboutImage {
  flex: 1;
  border-radius: 12px;
  object-fit: cover;
}

.contactInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 60px 10%;
  text-align: center;
}

.aboutBarbers {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
