.heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.paragraph {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

.hrSpacing {
  width: 60%;
  margin: 60px auto;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.centerText {
  text-align: center;
}

.aboutContent {
  display: flex;
  gap: 50px;
  padding: 40px 10%;

  align-items: center;
}

.aboutText {
  flex: 1;
}

.aboutImage {
  flex: 1;
  border-radius: 12px;
  object-fit: cover;
}

.contactInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 40px 10%;

  text-align: center;
}

.aboutBarbers {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 10%;

  justify-content: center;
  align-items: center;
}
