.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  max-width: 400px;
}

.label {
  background: rgba(0, 0, 0, 0.129); /* translucent gray */
  color: rgb(0, 0, 0);
  padding: 6px 10px;
  font-size: 0.9rem;
}
